@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Welcome to the Azure Course 💙</h1>
    <p class="lead">This is an example .NET 8.0 application deployed to Azure App Services.</p>
</div>
